<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurants</title>
</head>
<body>
  <h1>Restaurants</h1>
  <ul>
    <% restaurants.forEach(restaurant => { %>
        <li>
            <%= restaurant.Name %> - <%= restaurant.Location %> 
            <a href="/update-restaurant/<%= restaurant.RestaurantID %>">Update</a>
            <a href="/delete-restaurant/<%= restaurant.RestaurantID %>">Delete</a>
        </li>
    <% }) %>
  </ul>
  <p><a href="/">Back to Home</a></p>
</body>
</html>


